h1 {
  text-align: center;
  font-family: sans-serif;
  color: #271f44;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  color: #8064e9;
  margin-top: 5px;
}
h3 {
  text-align: center;
  font-family: monospace;
  font-weight: normal;
}
.tree {
  font-weight: bold;
}
button {
  text-align: center;
  color: white;
  background-color: #8064e9;
  padding: 13px 20px;
  border: 1px black solid;
  border-radius: 30px;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 5px grey;
  margin-top: 40px;
}
button:hover {
  color: #8064e9;
  background-color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
